* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.medsos {
  padding: 5px 0;
  background-color: red;
  
}

.medsos ul li {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
  
  
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* penuh layar */
  overflow: hidden;
  border-radius: 40px;
  
}

.bgvid {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;   /* biar video menyesuaikan container */
  z-index: -1;         /* di belakang konten */
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 40vh;
}


.main-header ul {
  display: flex;
  gap: 20px; 
  
}

.main-header ul li {
  background-color: #161414;
  padding: 5px;
  border-radius: 5px;
  margin: 0px;
  text-align: left;
  
}

.main-header ul li a {
  color: #FE8079;
}

nav ul { 
text-align: right;
padding: 0px;
margin: 0px;

}

nav ul li {
display: inline-block;
margin: 20px;
}

body.home {
  background-image: url("cracked.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video-section h3 {
  margin: 20px 0;
  color: #fff;
}


.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}

.video-grid video {
  flex: 1 1 40%;
  max-width: 45%;
  

}

.flix {

align-items: center;
color: #fff;
}

